.top-banner-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 0;
}
.banner-bg{
  background-color: aliceblue;
}

@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
    .top-banner-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      height: 76px;
      padding: 0;
  }
  };