.top-banner-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.banner-bg{
  background-color: aliceblue;
}

@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
  };